body {
    background-color: #ebebeb;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
}
.main-content {
    display: grid;
    min-height: 1000px;
    grid-template-columns: 300px 700px;
    max-width: 90%;
}
.left-section {
    background: #223577;
    color: white;
    display: grid;
    grid-column: span 1;
}
.left-content {
    padding: 1rem;
}
.right-section {
    background: white;
    width: 90%;
    grid-column: span 1 / span 2;
}
.profile-image {
    display: block;
    margin: auto;
    border: 5px solid white;
    border-radius: 30%;
    width: 60%;
    background-color: #5477eb;
}
.name {
    font-size: 1.2rem;
    font-weight: 700;
    padding: 0.8rem;
    letter-spacing: 0.02px;
    text-align: center;
    text-transform: uppercase;
}
.designation {
    font-size: 1rem;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 0.5rem;
}
.description {
    font-size: 0.75rem;
    text-align: center;
    padding: 1rem;
}
.social-icons {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    justify-content: center;
}
.social-icons .bx {
    font-size: 1.25rem;
    padding: 5px;
    border-radius: 15%;
    color: white;
    background: #5477eb;
}
.social-icons .bx:hover {
    background: #223577;
    transition: 0.3s all linear;
}
.address {
    padding: 1.5rem;
    text-align: left;
    font-size: 0.90rem;
}
.skills {
    font-size: 0.75rem;
    text-align: center;
    text-transform: uppercase;
    padding: 1rem 0.5rem;
}
.skill-name {
    font-size: 0.65rem;
    text-align: left;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    padding-left: 0.5rem;
    text-transform: uppercase;
}
.skills-section {
    padding-left: 1rem;
    padding-right: 1rem;
}
.progress-bar {
    border: 1px solid white;
    height: 4px;
    border-radius: 4px;
    position: relative;
    background-color: white;
}
.progress-bar-inner {
    background-color: #5477eb;
    height: 100%;
    border-radius: 4px;
}
.right-main-content {
    padding: 2rem 3rem;
}
.right-title {
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 700;
    padding: 0.5rem;
    letter-spacing: 1px;
}
.right-description {
    padding-left: 0.5rem;
}
@media screen and (max-width: 673px) {
    .main-content {
    grid-template-columns: repeat(1, 1fr);   
    }
    .right-section {
        width: 100%;
    }
}